<a href="https://colab.research.google.com/github/Bruno-GSilva/price-prediction/blob/main/model_1/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model 1

### Mount Drive to access data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Imports

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Read csv data

In [21]:
petr4 = pd.read_csv("/content/drive/MyDrive/data/PETR4.SA.csv", parse_dates=[0], infer_datetime_format=True)
petr4.head(5)

        Date   Open   High    Low  Close  Adj Close        Volume
0 2000-01-03  5.875  5.875  5.875  5.875   3.598473  3.538944e+10
1 2000-01-04  5.550  5.550  5.550  5.550   3.399408  2.886144e+10
2 2000-01-05  5.494  5.494  5.494  5.494   3.365109  4.303360e+10
3 2000-01-06  5.475  5.475  5.475  5.475   3.353472  3.405568e+10
4 2000-01-07  5.500  5.500  5.500  5.500   3.368784  2.091264e+10

In [17]:
petr4.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume              float64
dtype: object

7.0625
67.5
2003-08-01 00:00:00
2003-08-04 00:00:00